/* --------------------------------------------------
	FONTS
-------------------------------------------------- */
@font-face {
  font-family: BoschSans Regular;
  src: url(./fonts/BoschSans-Regular.eot) format("eot"),
    url(./fonts/boschsans-regular-webfont.woff2) format("woff2"),
    url(./fonts/boschsans-regular-webfont.woff2) format("woff"),
    url(./fonts/BoschSans-Regular.ttf) format("truetype"),
    url(./fonts/BoschSans-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* line 8, ../sass/servicelocator.scss */
body {
  margin: 0;
  font-family: BoschSans Regular;
}
html {
  font-family: BoschSans Regular, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 12, ../sass/servicelocator.scss */
.bosch-rainbow-dash-logo {
  /*background: url(../img/bosch-rainbow-dash.jpg) repeat-x 0 0;
    height: 15px;*/
  background: url("https://www.bosch-home.com/store/resources/mbmd/a01/img/shape_horizontal.svg");
  left: 0;
  width: 100%;
  height: 15px;
  background-size: cover;
  background-position: center center;
}

/* line 23, ../sass/servicelocator.scss */
.bosch-subheader {
  max-width: 100%;
  margin: 0 auto;
}

/* line 29, ../sass/servicelocator.scss */
.bosch-subheader__logo {
  margin: 15px 0;
}
header,
footer,
nav,
section {
  display: block;
}
.myFooter {
  margin: 2.5em 1.5em 1.5em 1.5em;
}
#mainform {
  margin: 0 1.5em 1.5em 1.5em;
  max-width: 691px;
}

/* Styles for basic forms
  -----------------------------------------------------------*/
fieldset {
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border-radius: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  width: inherit; /* Or auto */
  padding: 0 0px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

textarea {
  min-height: 75px;
}

.editor-label {
  margin: 1em 0 0 0;
}

.editor-field {
  margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
  -----------------------------------------------------------*/
.field-validation-error {
  color: #f00;
}

.field-validation-valid {
  display: none;
}

.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee;
}

.validation-summary-errors {
  font-weight: bold;
  color: #f00;
}

.validation-summary-valid {
  display: none;
}

.myrblclass label {
  margin-right: 8px;

  margin-left: 5px;
}
.myrblclass input[type="checkbox"] {
  transform: scale(1.5);
  margin: auto;

  line-height: 2px;
}

span.radio {
  padding: 10px;
}

span.radio > input[type="radio"] {
  margin: 8px -5px 7px 0px;
}

span.radio > label {
  float: left;
  margin-right: 5px;
  padding: 0px 5px 0px 10px;
}

.logoImage {
  height: auto;
  max-height: 100px;
  max-width: 100px;
  width: auto;
}
.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  /* important:  dimensions or positioning here! */
}

.scroll-wrapper iframe {
  /* nada! */
}
.demo-iframe-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.demo-iframe-holder iframe {
  height: 100%;
  width: 100%;
}

.modalBackground {
  background-color: Gray;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.modalPopup {
  background-color: #f7f6f3;
  border-width: 3px;
  border-style: solid;
  border-color: Gray;
  padding: 3px;
  width: 100%;
  z-index: 10000;
}
.RadCalendarPopup {
  z-index: 10050 !important;
}

.RadCalendarFastNavPopup {
  z-index: 5678 !important;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  padding: 5px;
}

/* navbar */
.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}
/* Title */
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #d5d5d5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.button-wrapper .btn {
  margin-bottom: 5px;
}

.submitButtonContainer {
  text-align: center;
  margin-bottom: 16px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #00639a !important;
  color: #fff;
}
* {
  border-radius: 0 !important;
}
.top-marginSubmit {
  margin-top: 20px;
}
.a-formlabel .label-text a {
  color: #00639a;
}
a:link {
  color: #00639a;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
